NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Genera els secrets amb: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
MASTER_PIN=
MASTER_SESSION_SECRET=
PASS_SECRET=

NEXT_PUBLIC_APP_URL=http://localhost:3000
